<div class="full">
  <div class="main">
    <app-header></app-header>
    <div class="news">
      <div class="row">
        <div class="col-md-9 news-content">
          <h3 class="head mb-5">MOVIE NEWS</h3>
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/04/luom-ngay-45-qua-trung-phuc-sinh-cuc-y-nghia-trong-avengers-endgame-nao-15564866948533.jpg"
                class="img-fluid" alt="">
              <h6>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: Endgame nào!</h6>
              <p>Phần phim này tuy khá ít trứng nhưng nó lại mang nhiều ý nghĩa hơn đấy.</p>
            </div>
            <div class="col-md-6">
              <img src="https://s3img.vcdn.vn/123phim/2019/05/6900befb2dea6599bf21f917e996f087.jpg" class="img-fluid"
                alt="">
              <h6>Biệt đội 'thú cưng' tổng tấn công màn bạc năm nay gồm có những ai?</h6>
              <p>Hãy cùng xem qua những gương mặt thú cưng nào đã và sẽ “khuynh đảo” màn ảnh thế giới trong năm 2019 nhé</p>
            </div>

            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/05/vua-thoat-khoi-me-cung-kaya-scodelario-tiep-tuc-chay-thuc-mang-vi-tham-hoa-ca-sau-15568833140661.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Vừa thoát khỏi 'mê cung', Kaya Scodelario tiếp tục chạy thục
                mạng vì thảm hoạ cá sấu</h6>
              <p>Lâu lắm rồi mới có phim về sinh vật này nhỉ?</p>
            </div>
            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/04/diem-lai-5-lan-thanos-dai-bai-trong-truyen-tranh-marvel-15561735652175.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Cùng nhau điểm lại 5 lần Thanos đại bại trong comics trước thềm
                Avengers: Endgame</h6>
              <p>Mạnh như vậy mà cũng đại bại ư?</p>
            </div>
            <div class="col-md-4 small-content">
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/sieu-pham-kinh-di-chung-ta-nhan-mua-loi-khen-15525405873733.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Siêu phẩm kinh dị Chúng Ta nhận mưa lời khen</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/shazam-sieu-anh-hung-nha-dc-noi-tiep-thanh-cong-vang-doi-cua-aquaman-15524677656837.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Shazam - siêu anh hùng nhà DC nối tiếp thành công vang dội
                    của Aquaman</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/lat-mat-4-tung-trailer-he-lo-chuyen-ma-den-choi-nha-vua-so-vua-hai-15523792281785.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Lật Mặt 4 tung trailer hé lộ chuyện 'ma đến chơi nhà’ vừa sợ
                    vừa hài</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/my-nhan-sunny-yoo-ho-jeong-tro-lai-man-anh-voi-vai-ba-me-idol-15523661191596.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Mỹ nhân ‘Sunny’ Yoo Ho Jeong trở lại màn ảnh với vai bà mẹ
                    idol</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/03/captain-marvel-la-phim-sieu-anh-hung-mo-man-an-khach-thu-hai-lich-su-15522798296794.jpg"
                class="img-fluid" alt="">
              <h6>Captain Marvel là phim siêu anh hùng mở màn ăn khách thứ hai lịch sử</h6>
              <p>Bất chấp anti-fan, Captain Marvel vẫn càn quét phòng vé tuần qua, doanh thu chỉ chịu thua kém Infinity
                War.</p>
            </div>
            <div class="col-md-6">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/03/giai-ma-2-after-credits-cua-captain-marvel-15521255840626.jpg"
                class="img-fluid" alt="">
              <h6>Giải mã 2 after-credits của Captain Marvel</h6>
              <p>After-credits của Captain Marvel liên kết thế nào với tập Avengers: Endgame?</p>
            </div>

            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/03/avengers-endgame-he-lo-mot-canh-moi-co-captain-marvel-gop-mat-15520376730060.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Avengers: Endgame hé lộ một cảnh mới có Captain Marvel góp mặt
              </h6>
              <p>Đây chính là thông tin nóng nhất về Endgame trước khi trailer 2 ra mắt (dự kiến trong 2 tuần tới).</p>
            </div>
            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/03/emma-watson-duoc-nham-cho-vai-chinh-trong-phim-solo-cua-black-widow-15519460416929.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Emma Watson được nhắm cho vai chính trong phim solo của Black
                Widow</h6>
              <p>Nếu điều này trở thành sự thật, Black Widow sẽ đánh dấu vai diễn hành động đầu tiên của “nàng Belle”.
              </p>
            </div>
            <div class="col-md-4 small-content">
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/sieu-anh-hung-shazam-ra-mat-trailer-moi-cuc-lay-15517619365912.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Siêu anh hùng Shazam ra mắt trailer mới cực ‘lầy’ </p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/ke-thu-cua-captain-america-gia-nhap-ve-si-sat-thu-2-15516874731182.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Kẻ thù của Captain America gia nhập Vệ Sĩ Sát Thủ 2</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/xem-gi-thang-3-ngoai-captain-marvel-15516839426523.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Xem gì tháng 3 ngoài Captain Marvel?</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/huyen-thoai-manga-son-goku-tai-xuat-man-anh-rong-voi-ke-thu-moi-cuc-ba-dao-15515820361975.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Huyền thoại manga Son Goku tái xuất màn ảnh rộng với kẻ thù
                    mới cực bá đạo</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/04/luom-ngay-45-qua-trung-phuc-sinh-cuc-y-nghia-trong-avengers-endgame-nao-15564866948533.jpg"
                class="img-fluid" alt="">
              <h6>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: Endgame nào!</h6>
              <p>Phần phim này tuy khá ít trứng nhưng nó lại mang nhiều ý nghĩa hơn đấy.</p>
            </div>
            <div class="col-md-6">
              <img src="https://s3img.vcdn.vn/123phim/2019/05/6900befb2dea6599bf21f917e996f087.jpg" class="img-fluid"
                alt="">
              <h6>Biệt đội 'thú cưng' tổng tấn công màn bạc năm nay gồm có những ai?</h6>
              <p>Hãy cùng xem qua những gương mặt thú cưng nào đã và sẽ “khuynh đảo” màn ảnh thế giới trong năm 2019 nhé</p>
            </div>

            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/05/vua-thoat-khoi-me-cung-kaya-scodelario-tiep-tuc-chay-thuc-mang-vi-tham-hoa-ca-sau-15568833140661.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Vừa thoát khỏi 'mê cung', Kaya Scodelario tiếp tục chạy thục
                mạng vì thảm hoạ cá sấu</h6>
              <p>Lâu lắm rồi mới có phim về sinh vật này nhỉ?</p>
            </div>
            <div class="col-md-4">
              <img
                src="https://s3img.vcdn.vn/123phim/2019/04/diem-lai-5-lan-thanos-dai-bai-trong-truyen-tranh-marvel-15561735652175.jpg"
                class="img-fluid" alt="">
              <h6 style="-webkit-box-orient: vertical;">Cùng nhau điểm lại 5 lần Thanos đại bại trong comics trước thềm
                Avengers: Endgame</h6>
              <p>Mạnh như vậy mà cũng đại bại ư?</p>
            </div>
            <div class="col-md-4 small-content">
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/sieu-pham-kinh-di-chung-ta-nhan-mua-loi-khen-15525405873733.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Siêu phẩm kinh dị Chúng Ta nhận mưa lời khen</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/shazam-sieu-anh-hung-nha-dc-noi-tiep-thanh-cong-vang-doi-cua-aquaman-15524677656837.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Shazam - siêu anh hùng nhà DC nối tiếp thành công vang dội
                    của Aquaman</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/lat-mat-4-tung-trailer-he-lo-chuyen-ma-den-choi-nha-vua-so-vua-hai-15523792281785.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Lật Mặt 4 tung trailer hé lộ chuyện 'ma đến chơi nhà’ vừa sợ
                    vừa hài</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3 pr-1">
                  <img class="img-fluid"
                    src="https://s3img.vcdn.vn/123phim/2019/03/my-nhan-sunny-yoo-ho-jeong-tro-lai-man-anh-voi-vai-ba-me-idol-15523661191596.jpg"
                    alt="">
                </div>
                <div class="col-md-9">
                  <p style="-webkit-box-orient: vertical;">Mỹ nhân ‘Sunny’ Yoo Ho Jeong trở lại màn ảnh với vai bà mẹ
                    idol</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- featured -->
          <div class="featured">
            <h3 class="topic">Featured Today in Movie Reviews</h3>
            <div class="row">
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f1.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f2.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f3.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f4.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f5.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
              <div class="col-md-4 featured-item">
                <a href="single.html"><img src="../../../assets/images/f6.jpg" class="img-fluid" alt="" /></a>
                <p>lorem movie review</p>
              </div>
            </div>
          </div>
          <!-- entertainment -->
          <div class="entertainment">
            <h3 class="topic">Featured Today in Entertainment</h3>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f6.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f5.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f4.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f3.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f2.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
            <div class="row entertain-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/f1.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <a href="#">Watch ‘Bombay Velvet’ trailer during WC match</a>
              </div>
            </div>
          </div>
          <!-- also might -->
          <div class="might">
            <h3 class="topic">You might also like</h3>
            <div class="row might-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/mi.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <p>Lorem Ipsum is simply dummy text of the printing</p>
                <a href="#">Lorem Ipsum <i> </i></a>
              </div>
            </div>
            <div class="row might-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/mi1.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <p>Lorem Ipsum is simply dummy text of the printing</p>
                <a href="#">Lorem Ipsum <i> </i></a>
              </div>
            </div>
            <div class="row might-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/mi2.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <p>Lorem Ipsum is simply dummy text of the printing</p>
                <a href="#">Lorem Ipsum <i> </i></a>
              </div>
            </div>
            <div class="row might-item">
              <div class="col-md-3 img-item">
                <a href="#"><img src="../../../assets/images/mi3.jpg" class="img-fluid" alt="" /></a>
              </div>
              <div class="col-md-9 text-item">
                <p>Lorem Ipsum is simply dummy text of the printing</p>
                <a href="#">Lorem Ipsum <i> </i></a>
              </div>
            </div>
          </div>
          <!-- archive -->
          <div class="archive">
            <h4>Archives</h4>
            <ul>
              <li><a href="single.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
              </li>
              <li><a href="single.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
              </li>
              <li><a href="single.html">When an unknown printer took a galley of type and scrambled it to make a type
                  specimen book. </a> </li>
              <li><a href="single.html">It has survived not only five centuries, but also the leap into electronic
                  typesetting</a> </li>
              <li><a href="single.html">Remaining essentially unchanged. It was popularised in the 1960s with the
                  release of </a> </li>
              <li><a href="single.html">Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                  publishing </a> </li>
              <li><a href="single.html">Software like Aldus PageMaker including versionsof Lorem Ipsum.</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>