<div class="container quangcao">
  <div class="quangcao-heading">
    <div class="quangcao-heading-left">
      <h3 class="head">Movie News</h3>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of danhSachQuangCao">
      <div class="grid">
        <figure class="effect-goliath">
          <img src="{{item.hinhAnh}}" alt="img01" class="img-fluid" />
          <a routerLink="/tin-tuc">
            <figcaption>
              <p>{{item.noiDung}}</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>