<div class="header">
  <div class="logo">
    <a routerLink='/'><img src="assets/images/logo.png" alt="" /></a>
    <p>Movie Theater</p>
  </div>
  <div class="user" *ngIf="status">
    <a routerLink='/profile'>Hello, {{hoTen}}!</a>
    <button class="btn btn-outline-secondary logout" (click)="handleSignOut()">Sign out</button>
  </div>
  <div class="search">
    <form>
      <input type="text" value="Search.." onfocus="this.value = '';"
        onblur="if (this.value == '') {this.value = 'Search..';}" />
      <input type="submit" value="">
    </form>
  </div>
  <div class="clearfix"></div>
</div>

