<div class="container phim">
  <div class="phim-heading">
    <div class="phim-heading-left">
      <h3 class="head">Latest Films</h3>
    </div>
  </div>
  <div class="phim-content">
    <div class="row">
      <div class="col-md-3 mb-0" [@anim]=""
        *ngFor="let phim of dsPhim | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
        <app-item-phim [phim]="phim" (click)="changeModal(phim.Trailer)"></app-item-phim>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width="850" height="450" [src]="urlTrailer" frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="p = $event" responsive="true"></pagination-controls>
</div>