/* Menu */
.menu {
	position: fixed;
	top: 82px;
	left: 5px;
	z-index: 2;
}
.menu ul li {
	list-style-type:none;
	border-bottom:1px solid #4c4c4c;
}
.menu ul li a {
	padding: 13px 19px 13px 20px;
	display: block;
	color: rgba(255, 255, 255, 0.5);
}
.menu ul li a .cover i {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.menu ul li a.active {
	background:#dfb636;
}
.menu ul li a:hover {
	background: #dfb636;
}
i.home1, i.news1, i.profile1, i.contact1, i.login1 {
	display:block;
}
i.home2, i.news2, i.profile2, i.contact2, i.login2 {
	display: none;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}