.full {	
    border-left: 5px solid #2b2b2b;
}
.main{
    border-left: 76px solid #383838;
    height: 100%;
}
.booking {
    padding: 3em;
    border-top: 1px solid #000;
}
.booking .head {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 15px;
}
.checkout {
    position: absolute;
    right: 0;
    top: 77px;
}
.checkout button {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
}
.checkout .card-title span {
    font-size: 12px;
}
