<div class="full">
  <div class="main">
    <app-header></app-header>
    <div class="booking">
      <h3 class="head mb-5">BOOKING ONLINE</h3>
      <div class="row">
        <div class="col-md-9">
          <div class="screen text-center">
            <img src="../../../assets/images/screen.png" alt="" width="100%">
          </div>
          <app-danhsachghe [gheArray]="DanhSachGheNgoi"></app-danhsachghe>
        </div>
        <div class="col-md-3 checkout pr-0">
          <div class="card">
            <img class="card-img-top" src="../../../../assets/images/poster1.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title">Movie Name</h3>
              <p class="card-text">Hello, <span>{{tenND}}</span></p>
              <p class="card-text">Selected seats: <span *ngFor="let item of DSGhe">{{item.TenGhe}}<span>, </span></span></p>
              <p class="card-text">Price: <span>{{tongTien}} VND</span></p>
              <button href="#" class="btn btn-primary">Book ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>