<div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider slide1">
                <div class="slider-info">
                    <h1>LOREM IPSUM MOVIE</h1>
                    <p class="age"><a href="#">All Age</a> Don Hall, Chris Williams</p>
                    <p class="review">Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 8,5/10</p>
                    <p class="review reviewgo">Genre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; Animation,
                        Action,
                        Comedy
                    </p>
                    <p class="review">Release &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 7 November 2014</p>
                    <p class="special">The special bond that develops between plus-sized inflatable robot Baymax, and
                        prodigy
                        Hiro
                        Hamada, who team up with a group of friends to form a band of high-tech heroes.</p>
                    <a class="video" href="#"><i class="video1"></i>WATCH TRAILER</a>
                    <a class="book" href="#"><i class="book1"></i>BOOK TICKET</a>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="slider slide2">
                <div class="slider-info">
                    <h1>LOREM IPSUM MOVIE</h1>
                    <p class="age"><a href="#">All Age</a> Don Hall, Chris Williams</p>
                    <p class="review">Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 8,5/10</p>
                    <p class="review reviewgo">Genre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; Animation,
                        Action,
                        Comedy
                    </p>
                    <p class="review">Release &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 7 November 2014</p>
                    <p class="special">The special bond that develops between plus-sized inflatable robot Baymax, and
                        prodigy
                        Hiro
                        Hamada, who team up with a group of friends to form a band of high-tech heroes.</p>
                    <a class="video" href="#"><i class="video1"></i>WATCH TRAILER</a>
                    <a class="book" href="#"><i class="book1"></i>BOOK TICKET</a>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="slider slide3">
                <div class="slider-info">
                    <h1>LOREM IPSUM MOVIE</h1>
                    <p class="age"><a href="#">All Age</a> Don Hall, Chris Williams</p>
                    <p class="review">Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 8,5/10</p>
                    <p class="review reviewgo">Genre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; Animation,
                        Action,
                        Comedy
                    </p>
                    <p class="review">Release &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 7 November 2014</p>
                    <p class="special">The special bond that develops between plus-sized inflatable robot Baymax, and
                        prodigy
                        Hiro
                        Hamada, who team up with a group of friends to form a band of high-tech heroes.</p>
                    <a class="video" href="#"><i class="video1"></i>WATCH TRAILER</a>
                    <a class="book" href="#"><i class="book1"></i>BOOK TICKET</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>