<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <a data-toggle="modal" data-frame="iframe" data-target="#modelId"><img class="card-img-top" src="../../../../assets/images/poster1.jpg"
        alt="Card image" class="img-fluid"></a>
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster2.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster3.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster4.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <a data-toggle="modal" data-target="#modelId"><img class="card-img-top" src="../../../../assets/images/poster1.jpg"
        alt="Card image" class="img-fluid"></a>
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster2.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster3.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card" style="width: 230px">
    <img class="card-img-top" src="../../../../assets/images/poster4.jpg" alt="Card image" class="img-fluid">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/TcMBFSGVi1c" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>